---
---

@import "{{ site.theme }}";

body {
	font-size: 16px;
}

.wrapper {
	max-width: 1400px;
}

section {
	max-width: 1400px;
	margin-top: 20px;
}

#header {
	pointer-events: none;
	background: none;
	border: none;
	box-shadow: none;

	nav li.fork {
		position: absolute;
		right: 1em;
	
		a {
			pointer-events: auto;
		}
	}
}

h2 code {
	font-size: 24px;
}

h3 code {
	font-size: 18px;
}